body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color:#F9FAFB;
}
.container {
    
    width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: "Overpass" , sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    background: linear-gradient(90deg, #42A5F5, #1E88E5);
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #4CAF50;
    border: #08aaf0 1px solid;
    color:#ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-weight: 500;
}

button:hover{
    background: linear-gradient(90deg, #1E88E5, #1565C0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    background-color: #5eda62;
    transform: translateY(-2px);
}

ul {
    list-style: none;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

li {
    
    padding: 12px 15px;
    padding-top: 18px;
    margin-top:15px;
    background-color: #F9FAFB;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.header{
    display:flex;
    background-color: rgb(120, 0, 0);
}



.logo{
    font-family : "Bebas Neue",sans-serif;
    font-weight: 700;
    color:rgb(253, 240, 213);
    font-size : 50px;
    padding-left: 25px;
    padding-top :15px;
    padding-bottom : 15px;
    

}

input[type="text"] {
    width: 100%; 
    padding: 12px 20px;
    font-size: 16px;
    color: #333333; 
    background-color: #F9FAFB; 
    border: 1px solid #D1D5DB; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05); 
}

input[type="text"]::placeholder {
    color: #A0AEC0; 
    font-weight: 400; 
}

input[type="text"]:hover {
    background-color: #FFFFFF; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

input[type="text"]:focus {
    outline: none; 
    border-color: #42A5F5; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
}